<div class="col-6 d-flex align-items-center justify-content-start">
    <h4 class="mt-2 d-none d-lg-block">Filtrar por:</h4>
    <div class="dropdown d-block d-lg-none" id="filter-mobile">
        <button class="btn btn-primario dropdown-toggle btn-block" type="button" id="filter-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-filter mr-2"></i>Filtrar
        </button>
        <div class="dropdown-menu px-2" aria-labelledby="filter-dropdown">
            <!-- Grupo de filtros de switch -->
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="my-card">
                        Ofertas
                        <label class="switch">
                            <input type="checkbox" class="default">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="my-card">
                        Sugeridos
                        <label class="switch">
                            <input type="checkbox" class="default">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="my-card">
                        Genéricos
                        <label class="switch">
                            <input type="checkbox" class="default">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="my-card">
                        Más vendidos en el mercado
                        <label class="switch">
                            <input type="checkbox" class="default">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="my-card">
                        <span class="label-switch">Más vendidos en tu zona</span>
                        <label class="switch">
                            <input type="checkbox" class="default">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-6 d-flex align-items-center justify-content-end">
    <h6 class="d-none d-lg-inline-flex ml-auto mr-2">Ordenar por:</h6>
    <div class="btn-group">
        <button class="btn btn-order btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mayor descuento
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Menor precio</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Mayor precio</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item select" href="#">Mayor descuento</a>
        </div>
    </div>
</div>