<div class="col d-none d-lg-block">
    <div class="row">
        <div class="col-12">
            <!-- Grupo de filtros de switch -->
            <aside>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="my-card">
                            Ofertas
                            <label class="switch">
                        <input type="checkbox" class="default">
                        <span class="slider round"></span>
                    </label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="my-card">
                            Sugeridos
                            <label class="switch">
                        <input type="checkbox" class="default">
                        <span class="slider round"></span>
                    </label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="my-card">
                            Genéricos
                            <label class="switch">
                        <input type="checkbox" class="default">
                        <span class="slider round"></span>
                    </label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="my-card">
                            Más vendidos en el mercado
                            <label class="switch">
                        <input type="checkbox" class="default">
                        <span class="slider round"></span>
                    </label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="my-card">
                            <span class="label-switch">Más vendidos en tu zona</span>
                            <label class="switch">
                        <input type="checkbox" class="default">
                        <span class="slider round"></span>
                    </label>
                        </div>
                    </li>
                </ul>

            </aside>
            <div class="col-12 mt-4">
                <h4 class="mt-2 d-none d-lg-block mb-4">Descargas</h4>
                <button type="button" href="#" class="btn btn-secundario btn-rounded btn-block mb-4">Descargar lista de precios</button>
                <button type="button" href="#" class="btn btn-secundario btn-rounded btn-block">Descargar más comprados</button>
            </div>
        </div>
    </div>
</div>