<div class="col-lg-11">
    <!-- Detalle de producto -->
    <div class="row">
        <div class="col-lg-4 mb-4 mb-lg-0 d-flex align-items-stretch  px-4">
            <div class="img-producto z-depth-1 white w-100">
                <img src="../../../../assets/images/imagen-detalle-producto.jpg" alt="" class="img-fluid" width="100%">
            </div>
        </div>
        <div class="col-lg-8 d-flex align-items-stretch ">
            <div class="card w-100">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-lg-flex">
                            <div class="media-body">
                                <div class="etiquetas mb-3">
                                    <a class="trigger" href="#">Oferta</a>
                                    <a class="trigger" href="#">Sugerido</a>
                                </div>

                                <h4 class="mb-2">Paracetamol Tabletas De 500mg Caja Con 100 Tabletas
                                </h4>
                                <h6 class="font-weight-bold">Código: 75313036</h6>
                                <div class="row my-3">
                                    <div class="col-4">
                                        <h5 class="font-weight-bold">Precio Público</h5>
                                        <h6>$350.00</h6>
                                    </div>
                                    <div class="col-4">
                                        <h5 class="font-weight-bold">Precio Farmacia</h5>
                                        <h6>$250.00</h6>
                                    </div>
                                    <div class="col-4">
                                        <h5 class="font-weight-bold">Precio Neto</h5>
                                        <h6 class="color-primario">$220.00</h6>
                                    </div>
                                </div>
                                <h6 class="devoluciones font-weight-bold">
                                    Se aceptan devoluciones</h6>
                                <h6 class="stock mb-3">
                                    Existencias disponibles
                                    <span class="cantidad">(1,495 disponibles)</span>
                                </h6>
                                <div class="d-flex align-items-center">
                                    <div class="def-number-input number-input safari_only mr-3">
                                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                                        <input class="quantity" min="1" name="quantity" value="1" type="number">
                                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                    </div>
                                    <button class="btn btn-primario btn-rounded btn-agregar w-50" data-pushbar-target="right">Agregar a carrito</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>