<section class="d-none d-md-block">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-5 col-lg-4">
                <div class="card h-100">
                    <div class="card-body card-ingresar px-4 pt-4">
                        <h3 class="mb-4">Registro</h3>
                        <h6 class="txtRegistro mb-4">Si ya eres cliente FANASA registra tu farmacia y obtén las
                            <span class="realce">Mejores Ofertas</span> en nuestra tienda en línea</h6>
                    </div>
                    <div class="card-body card-ingresar d-flex align-items-end justify-content-center px-4 pb-4">
                        <div class="row flex-grow-1">
                            <div class="col-12 text-center">
                                <button type="button" href="#" class="btn btn-primario btn-rounded btn-block">Registro</button>
                                <button type="button" class="btn btn-link mt-4">¿Quieres ser cliente
                                    FANASA?</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 col-lg-4 offset-md-1">
                <div class="card h-100">
                    <form action="">
                        <div class="card-body card-ingresar px-4 pt-4">
                            <h3 class="mb-4">Iniciar sesión</h3>
                            <!-- Outline validation input -->
                            <div class="md-form md-outline">
                                <input type="email" id="correo" class="form-control validate">
                                <label for="correo" data-error="Algo salio mal" data-success="Bien">Usuario
                                    o correo</label>
                            </div>
                            <!-- Outline validation input -->
                            <div class="md-form md-outline">
                                <input type="password" id="inputValidationEx24" class="form-control validate">
                                <label for="inputValidationEx24" data-error="wrong" data-success="right">Contraseña</label>
                            </div>
                        </div>
                        <div class="card-body card-ingresar d-flex align-items-end justify-content-center px-4 pb-4">
                            <div class="row flex-grow-1">
                                <div class="col-12 text-center">
                                    <button type="button" href="#" class="btn btn-primario btn-rounded btn-block">Iniciar
                                        sesión</button>
                                    <button type="button" class="btn btn-link mt-4">¿Olvidaste tu
                                        contraseña?</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="d-block d-md-none">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Iniciar sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Registro</a>
                    </li>

                </ul>
                <div class="tab-content pt-2 pl-1" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="card h-100">
                            <form action="">
                                <div class="card-body card-ingresar px-4 pt-4">
                                    <h3 class="mb-4">Iniciar sesión</h3>
                                    <!-- Outline validation input -->
                                    <div class="md-form md-outline">
                                        <input type="email" id="correo" class="form-control validate">
                                        <label for="correo" data-error="Algo salio mal" data-success="Bien">Usuario
                                            o correo</label>
                                    </div>
                                    <!-- Outline validation input -->
                                    <div class="md-form md-outline">
                                        <input type="password" id="inputValidationEx24" class="form-control validate">
                                        <label for="inputValidationEx24" data-error="wrong" data-success="right">Contraseña</label>
                                    </div>
                                </div>
                                <div class="card-body card-ingresar d-flex align-items-end justify-content-center px-4 pb-4">
                                    <div class="row flex-grow-1">
                                        <div class="col-12 text-center">
                                            <button type="button" href="#" class="btn btn-primario btn-rounded btn-block">Iniciar
                                                sesión</button>
                                            <button type="button" class="btn btn-link mt-4">¿Olvidaste tu
                                                contraseña?</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="card h-100">
                            <div class="card-body card-ingresar px-4 pt-4">
                                <h3 class="mb-4">Registro</h3>
                                <h6 class="txtRegistro mb-4">Si ya eres cliente FANASA registra tu farmacia y obtén las
                                    <span class="realce">Mejores Ofertas</span> en nuestra tienda en línea</h6>
                            </div>
                            <div class="card-body card-ingresar d-flex align-items-end justify-content-center px-4 pb-4">
                                <div class="row flex-grow-1">
                                    <div class="col-12 text-center">
                                        <button type="button" href="#" class="btn btn-primario btn-rounded btn-block">Registro</button>
                                        <button type="button" class="btn btn-link mt-4">¿Quieres ser cliente
                                            FANASA?</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</section>