<footer class="page-footer font-small pt-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mt-md-0 mt-3 text-center order-0">
                <img src="../../../../assets/images/fanasa-footer.png" class="img-fluid" alt="">
                <div class="clearfix w-100 pb-4"></div>
                <a href="">
                    <i class="fab fa-facebook color-primario fa-2x mx-2"></i>
                </a>
                <a href=""><i class="fab fa-linkedin color-primario fa-2x mx-2"></i></a>

            </div>

            <hr class="clearfix w-100 d-md-none pb-3">

            <div class="col-6 col-md-3 mb-md-0 mb-3 order-1">
                <h5 class="text-uppercase">Dirección</h5>
                <p class="text-left">Dr. Balmis 180, Col. Doctores Cuauhtémoc, CDMX 06720
                </p>
            </div>

            <div class="col-6 col-md-3 mb-md-0 mb-3 order-4 order-md-2">
                <!-- Links -->
                <h5 class="text-uppercase">Teléfonos</h5>
                <p>(55) 5134 2101</p>
                <p>(800) 633 3896</p>
            </div>
            <div class="col-6 col-md-3 mb-md-0 mb-3 order-2 order-md-3">
                <!-- Links -->
                <h5 class="text-uppercase">Legales</h5>
                <p><a href="#!">Política</a></p>
                <p><a href="#!">Aviso de Privacidad</a></p>
                <p><a href="#!">Preguntas frecuentes</a></p>
                <p><a href="#!">Directorio</a></p>
            </div>
        </div>

    </div>

    <!-- Copyright -->
    <div class="footer-copyright py-3 mt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-3 mb-md-0">
                    <p class="d-inline-flex text-center text-md-left text-white mr-3">FANASA una empresa de</p><img src="../../../../assets/images/fanafesa-white.png" class="d-inline-flex img-fluid" alt="">
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <p class="d-inline-flex text-white">Derechos reservados © 2021 Fármacos Nacionales</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->