<section id="carrusel">
    <div class="container-fluid mb-4">
        <div class="row">
            <div class="col-12 px-0">
                <owl-carousel-o [options]=" customOptions ">
                    <ng-template carouselSlide>
                        <img src="/assets/images/slide1.jpg ">
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="/assets/images/slide2.jpg ">
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="/assets/images/slide3.jpg ">
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>