<header>

    <div class="menu">
        <div class="top-menu pt-2">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6 text-center">
                        <p class="text-white temporizador text-lg-right mb-2">Tiempo restante para confirmar pedido:
                            <span id="minutesTop" class="number-count"></span>
                            <span class="fecha">min</span>
                            <span id="secondsTop" class="number-count"></span>
                            <span class="fecha">seg</span>
                        </p>
                    </div>
                    <div class="col-12 col-lg-6 text-center">
                        <p class="text-white temporizador text-lg-left mb-2">Para entregar el día:
                            <span class="timer">25 / 09 / 2021</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-desktop d-none d-lg-block">
            <div class="row justify-content-center p-2">
                <div class="col-lg-11">
                    <div class="row align-items-center">
                        <div class="col-6 col-lg-2">
                            <img src="../../../../assets/images/menu-logo-white.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-6 col-lg-5">
                            <div class="search">
                                <input class="search_input" type="text" name="" placeholder="Nombre, laboratorio, sal o código de barras">
                                <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="col-6 col-lg-4 d-flex justify-content-center">
                            <div class="btn-group">
                                <button class="btn btn-user btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-user-circle mr-1"></i> Farmacias del pueblo del Noreste
                            </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Farmacias del pueblo del
                                    Sur</a>
                                    <a class="dropdown-item" href="#">Farmacias del pueblo del
                                    Pacífico</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-1 d-flex justify-content-end">
                            <button class="btn btn-user btn-lg d-none d-lg-block">
                            <i class="fas fa-sign-out-alt mr-1"></i> Salir</button>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <ul class="exo-menu">
                                <li class="mega-drop-down border mr-4">
                                    <a href="#"><i class="fa fa-bars"></i>Categorías</a>
                                    <div class="animated fadeIn mega-menu">
                                        <div class="mega-menu-wrap">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <h4 class="row mega-title"><a href="">A</a></h4>
                                                    <ul class="stander">
                                                        <li><a href="#">ACCESORIOS MEDICOS</a></li>
                                                        <li><a href="#">ACCESORIOS PARA BEBES</a></li>
                                                        <li><a href="#">AGENTES DE DIAGNOSTICO</a></li>
                                                        <li><a href="#">ALERGOLOGIA</a></li>
                                                        <li><a href="#">ANALGESIA</a></li>
                                                        <li><a href="#">ANESTESIA</a></li>
                                                        <li><a href="#">ANESTESIOLOGIA</a></li>
                                                        <li><a href="#">ANTIBIOTICO</a></li>
                                                        <li><a href="#">ANTIMICOTICO</a></li>
                                                        <li><a href="#">ANTINFLAMATORIO</a></li>
                                                        <li><a href="#">ANTIPARASITARIO</a></li>
                                                        <li><a href="#">ANTIVIRAL</a></li>
                                                    </ul>
                                                    <h4 class="row mega-title">B</h4>
                                                    <ul class="stander">
                                                        <li><a href="#">BATERIAS</a></li>
                                                        <li><a href="#">BIENES DE CONSUMO</a></li>
                                                    </ul>
                                                    <h4 class="row mega-title">C</h4>
                                                    <ul class="stander">
                                                        <li><a href="#">CARDIOLOGÍA</a></li>
                                                        <li><a href="#">CENTRAL DE EQUIPOS Y ESTERILIZACIÓN</a>
                                                        </li>
                                                        <li><a href="#">CIRUGIA CARDIOVASCULAR Y TORACICA</a>
                                                        </li>
                                                        <li><a href="#">CIRUGIA GENERAL</a></li>
                                                        <li><a href="#">CONSUMIBLES</a></li>
                                                        <li><a href="#">CONSUMIBLES EQUIPO MEDICO</a></li>
                                                    </ul>
                                                    <h4 class="row mega-title">D</h4>
                                                    <ul class="stander">
                                                        <li><a href="#">DERMATOLOGÍA</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3">
                                                    <h4 class="row mega-title">E</h4>
                                                    <ul class="stander">
                                                        <li><a href="#">ENDICRONOLOGIA</a></li>
                                                        <li><a href="#">ENDICRONOLOGIA Y METABOLISMO</a></li>
                                                        <li><a href="#">ENDICRONOLOGIA Y REUMATOLOGIA</a></li>
                                                        <li><a href="#">ENFERMEDADES INFECCIOSAS Y
                                                            PARASITARIAS</a>
                                                        </li>
                                                        <li><a href="#">ENFERMEDADES INMUNO-ALERGICAS</a></li>
                                                        <li><a href="#">EQUIPO MEDICO</a></li>
                                                        <li><a href="#">ESTOMATOLOGIA</a></li>
                                                    </ul>
                                                    <h4 class="row mega-title">F</h4>
                                                    <ul class="stander">
                                                        <li><a href="#">FORMULAS MAGISTRALES</a></li>
                                                        <li><a href="#">FORMULAS OFICINALES</a></li>
                                                        <li><a href="#">FOTOGRAFICOS</a></li>
                                                    </ul>
                                                    <h4 class="row mega-title">G</h4>
                                                    <ul class="stander">
                                                        <li><a href="#">GASTROENTEROLOGIA</a></li>
                                                        <li><a href="#">GERIATRIA</a></li>
                                                        <li><a href="#">GINECO-OBSTETRICIA</a></li>
                                                        <li><a href="#">GINECOLOGIA</a></li>
                                                    </ul>
                                                    <h4 class="row mega-title">H</h4>
                                                    <ul class="stander">
                                                        <li><a href="#">HEMATOLOGIA</a></li>
                                                        <li><a href="#">HEPATOLOGIA</a></li>
                                                        <li><a href="#">HIPOGLUCEMIANTE</a></li>
                                                    </ul>
                                                    <h4 class="row mega-title">I</h4>
                                                    <ul class="stander">
                                                        <li><a href="#">INFECTOLOGIA</a></li>
                                                        <li><a href="#">INMUNOGLOBULINAS</a></li>
                                                        <li><a href="#">INSTRUMENTAL</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3">
                                                    <h4 class="row mega-title">M</h4>
                                                    <ul class="stander">
                                                        <li><a href="#">GASTROENTEROLOGIA</a></li>
                                                        <li><a href="#">GERIATRIA</a></li>
                                                        <li><a href="#">GINECO-OBSTETRICIA</a></li>
                                                        <li><a href="#">GINECOLOGIA</a></li>
                                                    </ul>
                                                    <h4 class="row mega-title">N</h4>
                                                    <ul class="stander">
                                                        <li><a href="#">GASTROENTEROLOGIA</a></li>
                                                        <li><a href="#">GERIATRIA</a></li>
                                                        <li><a href="#">GINECO-OBSTETRICIA</a></li>
                                                        <li><a href="#">GINECOLOGIA</a></li>
                                                    </ul>
                                                    <h4 class="row mega-title">O</h4>
                                                    <ul class="stander">
                                                        <li><a href="#">GASTROENTEROLOGIA</a></li>
                                                        <li><a href="#">GERIATRIA</a></li>
                                                        <li><a href="#">GINECO-OBSTETRICIA</a></li>
                                                        <li><a href="#">GINECOLOGIA</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3">
                                                    <h4 class="row mega-title">P</h4>
                                                    <ul class="stander">
                                                        <li><a href="#">GASTROENTEROLOGIA</a></li>
                                                        <li><a href="#">GERIATRIA</a></li>
                                                        <li><a href="#">GINECO-OBSTETRICIA</a></li>
                                                        <li><a href="#">GINECOLOGIA</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a class="active" href="tienda.php">Tienda</a></li>
                                <li><a href="#">Mis pedidos</a></li>
                                <li><a href="#">Cartera</a></li>
                                <li><a href="#">Cuenta</a></li>
                                <li class="float-right relative">
                                    <a href="carrito.php"><img src="img/shopping-cart.svg" width="30" alt="" class="mr-3">
                                        <span class="badge badge-pill white count-cart">10</span>
                                        <span class="price">$234,987.00</span> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>