<app-menu></app-menu>
<app-slider-banner></app-slider-banner>
<section id="contenedor">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-11">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item "><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item "><a href="#">Tienda</a></li>
                        <li class="breadcrumb-item active">Categoría</li>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-11">
                <!-- Detalle de producto -->
                <div class="row">
                    <div class="col-lg-4 mb-4 mb-lg-0 d-flex align-items-stretch  px-4">
                        <div class="img-producto z-depth-1 white w-100">
                            <img src="../../../assets/images/imagen-detalle-producto.jpg" alt="" class="img-fluid" width="100%">
                        </div>
                    </div>
                    <div class="col-lg-8 d-flex align-items-stretch ">
                        <div class="card w-100">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="media d-lg-flex">
                                        <div class="media-body">
                                            <div class="etiquetas mb-3">
                                                <a class="trigger" href="#">Oferta</a>
                                                <a class="trigger" href="#">Sugerido</a>
                                            </div>

                                            <h4 class="mb-2">Paracetamol Tabletas De 500mg Caja Con 100 Tabletas
                                            </h4>
                                            <h6 class="font-weight-bold">Código: 75313036</h6>
                                            <div class="row my-3">
                                                <div class="col-4">
                                                    <h5 class="font-weight-bold">Precio Público</h5>
                                                    <h6>$350.00</h6>
                                                </div>
                                                <div class="col-4">
                                                    <h5 class="font-weight-bold">Precio Farmacia</h5>
                                                    <h6>$250.00</h6>
                                                </div>
                                                <div class="col-4">
                                                    <h5 class="font-weight-bold">Precio Neto</h5>
                                                    <h6 class="color-primario">$220.00</h6>
                                                </div>
                                            </div>
                                            <h6 class="devoluciones font-weight-bold">
                                                Se aceptan devoluciones</h6>
                                            <h6 class="stock mb-3">
                                                Existencias disponibles
                                                <span class="cantidad">(1,495 disponibles)</span>
                                            </h6>
                                            <div class="d-flex align-items-center">
                                                <div class="def-number-input number-input safari_only mr-3">
                                                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                                                    <input class="quantity" min="1" name="quantity" value="1" type="number">
                                                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                                </div>
                                                <button class="btn btn-primario btn-rounded btn-agregar w-50" data-pushbar-target="right">Agregar a carrito</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Caracteristicas del producto -->

            <div class="separador"></div>

            <!-- Tabala Caracteristicas del producto -->
            <div class="col-lg-11">
                <div class="row mt-5">
                    <div class="col-12 mb-3">
                        <h4 class="titulos">Características principales</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-6">
                        <!--Table-->
                        <table class="table table-striped w-100">
                            <!--Table body-->
                            <tbody>
                                <tr class="table-info">
                                    <th scope="row">Presentación</th>
                                    <td>Gotero</td>
                                </tr>
                                <tr>
                                    <th scope="row">Sal</th>
                                    <td>Norfenefrina</td>
                                </tr>
                                <tr class="table-info">
                                    <th scope="row">Cantidad presentación</th>
                                    <td>24 ml</td>
                                </tr>
                                <tr>
                                    <th scope="row">Laboratorio</th>
                                    <td>Laboratorios Sanfer</td>
                                </tr>
                                <tr class="table-info">
                                    <th scope="row">Código de barras</th>
                                    <td>75688018201008</td>
                                </tr>
                                <tr>
                                    <th scope="row">Psicotrópico:</th>
                                    <td>No</td>
                                </tr>
                                <tr class="table-info">
                                    <th scope="row">Grupo terapéutico</th>
                                    <td>Cardiologia</td>
                                </tr>
                                <tr>
                                    <th scope="row">Clasificación</th>
                                    <td>Generico con nombre Comercial</td>
                                </tr>
                                <tr class="table-info">
                                    <th scope="row">Fracción de venta al público</th>
                                    <td>Tipo IV requieren de receta medica</td>
                                </tr>
                            </tbody>
                            <!--Table body-->
                        </table>
                        <!--Table-->
                    </div>
                    <div class="col-12 col-lg-6">
                        <!--Table-->
                        <table class="table table-striped w-100">

                            <!--Table body-->
                            <tbody>
                                <tr class="table-info">
                                    <th scope="row">Precio público</th>
                                    <td>$999.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">Precio farmacia</th>
                                    <td>$888.00</td>
                                </tr>
                                <tr class="table-info">
                                    <th scope="row">Oferta</th>
                                    <td>10%</td>
                                </tr>
                                <tr>
                                    <th scope="row">Importe Oferta</th>
                                    <td>$120.00</td>
                                </tr>
                                <tr class="table-info">
                                    <th scope="row">Descuento</th>
                                    <td>Si</td>
                                </tr>
                                <tr>
                                    <th scope="row">Importe descuento</th>
                                    <td>$130</td>
                                </tr>
                                <tr class="table-info">
                                    <th scope="row">I.E.P.S</th>
                                    <td>12%</td>
                                </tr>
                                <tr>
                                    <th scope="row">Importe I.E.P.S</th>
                                    <td>$20.00</td>
                                </tr>
                            </tbody>
                            <!--Table body-->
                        </table>
                        <!--Table-->
                    </div>
                </div>
            </div>

            <app-productos-relacionados></app-productos-relacionados>

        </div>
    </div>
</section>